@media(min-width:100px) {
    #centerContent {
        margin-top: 48px;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media(min-width:470px) {
    #centerContent {
        margin-top: 48px;
        margin-right: 3%;
        margin-left: 2.5%;
    }
}

@media(min-width:1020px) {
    #centerContent {
        margin-top: 48px;
        margin-left: 13%;
        margin-right: 13%;
    }
}