.BlogList {
    align-items: center;
}

.lgksPe {
    box-shadow: 0.4px 1.5px 5px 0px #00000071 !important;
    background-color: white!important;
    min-width: 30px!important;
    width: 30px!important;
    height: 30px!important;
    color: transparent!important;
}

.rec-swipable {
    flex-direction: nowrap!important;
}

.lgksPe:hover:enabled {
    background-color: #bab1ba !important;
    color: transparent !important;
}

.hHtdyL {
    background-color: white!important;
    display: inline-block!important;
}

.cJeRRR {
    background-color: rgba(31, 33, 179, 0.5)!important;
    box-shadow: 0 0 1px 3px rgb(48, 46, 194)!important;
}

.card {
    min-height: 100px;
    min-width: 100px!important;
    box-shadow: 0px 2px 5px 0px #0000003f !important;
}

.videocard {
    height: 178px;
    width: auto!important;
    position: relative;
    margin-bottom: 24px;
    padding-left: 3px;
    padding-right: 3px;
}

@media(max-width:1400px) {
    .videocard {
        height: 160px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:1200px) {
    .videocard {
        height: 180px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:767px) {
    .videocard {
        height: 180px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:680px) {
    .videocard {
        height: 160px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:622px) {
    .videocard {
        height: 140px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:515px) {
    .videocard {
        height: 120px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:460px) {
    .videocard {
        height: 100px !important;
        width: 100%;
        border-radius: 10px;
    }
}

@media(max-width:390px) {
    .videocard {
        height: 85px !important;
        width: 100%;
        border-radius: 10px;
    }
}

.videocard img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 2px 5px 0px #0000003f !important;
}

.videocard a {
    width: 60px;
    height: 60px;
    background: radial-gradient(#1977cc 10%, rgba(25, 121, 204, 0.637) 0%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 34px);
    top: calc(50% - 33px);
    overflow: hidden;
}

.videocard a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.videocard a:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
}

.videocard a:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

#blogcardimg {
    width: 100%;
    height: 50%;
}

.BlogListItem {
    height: 20% !important;
    display: block !important;
    max-width: 350px!important;
}

.tXlBS {
    width: 33.33%
}

#blogbtn {
    min-width: 0px!important;
}

.rec-arrow-right {
    transform: translate(-130%, -50%);
    z-index: 1;
    background-image: url(./img/arrow-right.png);
    background-size: cover;
    transition: none!important;
}

.rec-arrow-left {
    transform: translate(130%, -50%);
    z-index: 1;
    background-image: url(./img/arrow-left.png);
    background-size: cover;
    transition: none!important;
}

.button:not(:disabled) {
    background-color: white;
}

.title {
    color: rgb(32, 32, 32);
}

.title:hover {
    color: #0062af;
    text-decoration: none;
}

.more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.more-btn i {
    font-size: 14px;
}

.more-btn:hover {
    color: #1977cc;
    background: #fff;
}