.bc{
    background: white;
    color: #000;
    font-family: Work Sans;
    font-weight: 500;
    }
    .navlink{
        margin-left: 25px;
        border-radius: 4px;

    }
    .navlink:active{
        background-color: white;
    }
    @media(min-width:600px){
   #updprf{

    margin-bottom: -38px;
    padding-left: 80px;
   }}