.bc{
    background: white;
    color: #000;
    font-family: Work Sans;
    font-weight: 500;
    }
    .navlink{
        margin-left: 25px;
    }
    @media(min-width:600px){
   #updprf{

    margin-bottom: -40px;
    padding-left: 80px;
   }}