.bc{
    background: white;
    color: #000;
    font-family: Work Sans;
    font-weight: 500;
    }
    .navlink{
        margin-left: 25px;
        border-radius: 4px;

    }
    .navlink:active{
        background-color: white;
    }
    @media(max-width:450px){
        #updprf{
     
         margin-bottom: -39.9px;
         /*padding-left: 80px;*/
         
         margin-left:80px;
         
         

        }
        
    }
    @media(min-width:500px){

        #logout{
            margin-left: -0%;
        }
        #brand{
            margin-left: 10%;
        }
        .form-inline.navbar-nav {
            margin-right: 22%;
        }

   #updprf{

    margin-bottom: -39.9px;
    margin-left: 80px;
   }}