@media(min-width:600px) {
    #faq {
        width: 1000px;
        align-items: flex;
        margin-left: -72%;
    }
}

.bookbtn {
    box-shadow: inset 0px 1px 0px 0px rgba(4, 168, 181, 1);
    background-color: rgba(4, 168, 181, 1);
    border-radius: 15px;
    border: 1px solid rgba(4, 168, 181, 1);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
}

.bookbtn:hover {
    background-color: rgb(2, 105, 112);
    border: 1px solid rgb(2, 105, 112);
    box-shadow: inset 0px 1px 0px 0px rgb(2, 105, 112);
}

.bookbtn:active {
    position: relative;
    top: 1px;
}

#home1 {
    width: 100%;
}

#gloves {
    width: 389.9%;
    margin-left: -150%;
    overflow-x: hidden;
    margin-top: -110%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-style: none;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
    border-radius: 18px;
    width: 100%;
}

#consultancycard {
    margin-top: -50%;
    margin-right: auto;
    text-align: left;
    position: flex;
    display: block;
    padding-bottom: 10px;
}

#cardcontainer {
    width: 100%;
    position: relative;
    font-family: "Work Sans";
    padding-top: 15px;
    
}

@media(min-width:600px) {
    #consultancycard {
        width: 900px;
        margin-left: -65%;
    }
}

.endbtn {
    box-shadow: inset 0px 1px 0px 0px #d0451b;
    background-color: #d0451b;
    border-radius: 15px;
    border: 1px solid #d0451b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
}

.endbtn:hover {
    background-color: #942911;
    border: 1px solid #942911;
    box-shadow: inset 0px 1px 0px 0px #942911;
}

.endbtn:active {
    position: relative;
    top: 1px;
}

@media(min-width:100px) {
    #cardbtn {
        text-align: center;
    }
    .newconbtn {
        margin-left: 12%;
    }
    .onewconbtn {
        margin-left: 15%;
    }
}

@media(min-width:500px) {
    .endbtn {
        margin-left: 4px;
    }
}

@media(min-width:500px) {
    #cardsecondary {
        float: right;
    }
}

@media(min-width:500px) {
    #cardprimary {
        float: left;
    }
}

#bookbtn {
    box-shadow: inset 0px 1px 0px 0px white;
    background-color: white;
    border-radius: 50px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Work Sans;
    font-size: 18px;
    padding: 6px 20px;
    text-decoration: none;
}

#bookbtn:hover {
    background-color: rgb(2, 105, 112);
    border: 1px solid rgb(2, 105, 112);
    box-shadow: inset 0px 1px 0px 0px rgb(2, 105, 112);
    color: white;
}

#bookbtn:active {
    position: relative;
    top: 1px;
}

#ellipsebtn {
    margin-left: -5%;
}
#eellipsebtn {
    margin-left: -2%;
}
#hometxt {
    font-size: larger;
    margin-top: -120%;
}

#smalltxt {
    color: black;
    font-family: Work Sans;
}

#bigtxt {
    color: rgba(4, 168, 181, 1);
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
}

@media(min-width:450px) {
    #bookbtn {
        margin-left: -112%
    }
    #hometxt {
        margin-left: -109%
    }
    .newcontbn {
        /*margin-left: 10%;*/
        text-align: center;
    }
}

.card{
	font-family:work sans;
    
}

.newconbtn {
    box-shadow: inset 0px 1px 0px 0px white;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Work Sans;
    font-size: 18px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.newconbtn:hover {
    background-color: rgb(2, 105, 112);
    border: 1px solid rgb(2, 105, 112);
    box-shadow: inset 0px 1px 0px 0px rgb(2, 105, 112);
    color: white;
    text-decoration: none;

    
}

.newcontbn:active {
    position: relative;
    top: 1px;
}

@media(min-width:200px) {
    .newconbtn {
        padding-left: 10px;
    }
}

@media(min-width:500px) {
    .newconbtn {
        padding-left: 10px;
    }
}

.btn{
	background-color:rgba(4, 168, 181, 1);
}


.submitbtn {
	display: inline-block !important;
    font-weight: 400 !important;
    color: #212529 !important;
    text-align: center !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
	color: #fff !important;
    background-color: rgba(4, 168, 181, 1) !important;
    border-color: rgba(4, 168, 181, 1) !important;
	box-sizing: border-box !important;
	width:100% !important;
}
.submitbtn:hover {
	background-color:rgb(2, 105, 112) !important;
}
.submitbtn:active {
	position:relative;
	top:1px;
}


#dropdown-basic{
text-align:left !important;
width:100%;
margin-left:auto;
background-color:white !important;
border:1px solid #ced4da !important;
display: flex;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    align-items:left;
}

#formbody{
    text-align:left !important; 
    align-items:left !important;
}





#onewconbtn {
    box-shadow: inset 0px 1px 0px 0px white;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Work Sans;
    font-size: 18px;
    padding: 3px;
    padding-left: 20%;
    padding-right: 20%;
    text-decoration: none;
}

#onewconbtn:hover {
    background-color: rgb(223, 108, 0);
    border: 1px solid rgb(223, 108, 0);
    box-shadow: inset 0px 1px 0px 0px rgb(223, 108, 0);
    color: white;
}

#onewconbtn:active {
    position: relative;
    top: 1px;
}

@media(min-width:200px) {
    #onewconbtn {
        padding-left: 10px;
    }
    #resetbtn{

        text-align: center !important;
        margin-left:29.8% !important;
    }
    #profile{
        padding-right: 40%;
    }
}

@media(min-width:500px) {
    #onewconbtn {
        padding-left: 10px;
    }
    #profile{
        padding-right: 2%;
    }
}


@media(min-width:450px) {

#formbody{

    width:200%;
    margin-left: -47%;

}



#resetbtn{

    text-align: center !important;
    margin-left:32.8% !important;
}}
#oform{
    padding-left:10%;
    padding-right:10%;
}

#profile{
    
    transition: 0.3s;
    width: auto;
    border-style: none;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid black;
    box-shadow: none!important;
    
    margin-right: 1%;
    text-align: center;
    overflow: hidden;
}
    


#profile:hover {
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(2, 105, 112);
    border: 1px solid rgb(2, 105, 112);
    color: white;

}
#pf-card{
    display:flex;
    width: 100%;
    text-align: center;
    
}        
div.scrollmenu {
    
    overflow: auto;
    white-space: nowrap;
  }
  .dropdown-item:hover{

    background-color:rgb(2, 105, 112) !important;
    color:white !important;
  }
  
#popup{
    box-shadow: rgba(0, 0, 0, 0.2)!important;
}

.addpfbtn {
	box-shadow: inset 0px 1px 0px 0px white;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    display:flex;
    color: black;
    font-family: Work Sans;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    margin-left:10px;
    height:53px!important;
}
.addpfbtn:hover {
    background-color: rgb(2, 105, 112);
    border: 1px solid rgb(2, 105, 112);
    box-shadow: inset 0px 1px 0px 0px rgb(2, 105, 112);
    color: white;
    text-decoration: none;
    text-decoration: none!important;
}
.addpfbtn:active {
	position:relative;
	top:1px;
}

        