
#topnav ul li a, #topnav ul li a:hover, .dropdown-menu li>a, .dropdown-menu li>a:hover, .flex-control-paging li a, .flex-control-paging li a:hover, .footerlinks ul li a, .footerlinks ul li a:hover, .thumbnail .shortlinks a, .thumbnail .shortlinks a:hover, .thumbnail a.productcart, .thumbnail a:hover.productcart, input, input:focus, select, select:focus, textarea, textarea:focus, ul.categorymenu>li>a, ul.categorymenu>li>a:hover, ul.categorymenu>li>div>ul>li>a, ul.categorymenu>li>div>ul>li>a:hover {
-moz-transition:all .2s ease;
-webkit-transition:all .2s ease;
-o-transition:all .2s ease
}

#topnav .navbar-inner {
	background:0 0;
	border:none;
	box-shadow:none;
	filter:none;
	padding:0;
	margin:0
}
.navbar {
	margin-bottom:0;
	margin-top:5px;
	float:right
}
#topnav ul {
	padding:0;
	margin:0
}
#topnav ul li {
	padding:5px 0;
	font-family:robotolight, Arial, Helvetica, sans-serif
}
#topnav ul li a {
	box-shadow:none;
	text-shadow:none;
	color:#777;
	font-size:12px;
	text-transform:none;
	padding:0 12px;
	border-right:solid 1px #d9d9d9;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out
}
#topnav ul li a:hover {
	color:#01a1dd;
-moz-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out
}
#topnav ul li .checkout {
	border-right:none;
	padding-right:0
}

.nav {
	margin:0;
	padding:0
}

li.dropdown {
	list-style:none
}
.headerdetails #main-nav ul>li.topcart {
	background:#fff;
	height:45px
}
.headerdetails #main-nav ul>li.topcart a {
	color:#999;
	font-size:14px
}
.headerdetails .navbar .nav li.topcart .dropdown-toggle .caret, .navbar .nav li.dropdown.open.topcart .caret {
	border-bottom-color:#999;
	border-top-color:#999
}

.headerdetails nav.subnav select {
	display:none
}
.headerdetails ul.nav.language li.dropdown {
	border:0 solid #f2f2f2;
	display:inline-block;
	margin-right:15px;
	text-transform:uppercase
}
.headerdetails ul.nav.language li.dropdown div {
	border:1px solid #f2f2f2;
	padding:7px 20px;
	display:inline-block;
	margin-right:15px;
	text-transform:uppercase
}
.headerdetails ul.nav.topcart li.dropdown {
	border:1px solid #ddd;
	display:inline-block;
	text-transform:uppercase
}

#categorymenu {
	padding:0;
	background:#01a1dd;
	font-family:robotoregular, Arial, Helvetica, sans-serif!important;
	margin:15px 0 0;
	height:44px
}
#categorymenu:after {
	clear:both;
	content:""
}
#categorymenu select {
	display:none
}
ul.categorymenu {
	margin:0;
	padding:0
}
ul.categorymenu>li {
	position:relative;
	margin:0;
	border-right:1px solid #27afe2;
	display:inline-block;
	float:left
}
ul.categorymenu>li:last-child {
	border:none
}
ul.categorymenu>li>a {
	text-decoration:none;
	display:inline-block;
	float:left;
	z-index:6;
	position:relative;
	color:#fff!Important;
	text-transform:uppercase;
	font-size:14px;
	padding:13px 12px;
	height:17px;
	white-space:nowrap
}
@media (max-width: 980px) { 
ul.categorymenu>li>a {
	padding:13px 7%;
}
}

ul.categorymenu>li:hover>a, ul.categorymenu>li>a.active {
	color:#fff!important;
	text-shadow:none;
	background-color:#636466;
}
.prescriptions {
	background-color:#004e6b;
	border-right:none!important
}
.online-doctor {
	background-color:#f13340;
	border-right:none!important
}
.special-offers {
	background-color:#3e9a2f
}
ul.categorymenu>li>div {
	padding:15px;
	position:absolute;
	top:97%;
	left:0;
	z-index:99999;
	display:none;
	float:left;
	min-width:490px;
	margin:1px 0 0;
	list-style:none;
	background-color:#fff;
	border-bottom:4px solid #01a1dd;
	box-shadow:0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, .2)
}
.dropdown-menu {
	padding:15px;
	position:absolute;
	left:7px;
	z-index:99999;
	display:none;
	float:left;
	min-width:490px;
	margin:1px 0 0;
	list-style:none;
	background-color:#fff;
	border-bottom:4px solid #01a1dd;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0
}
ul.categorymenu>li:hover>div {
	display:block;
	width:100%;
	vertical-align:top
}
ul.categorymenu>li>div>ul {
	display:inline-block;
	float:left;
	vertical-align:top;
	padding-left:0!important;
	margin-left:0;
	width:100%;
}
ul.categorymenu>li ul+ul {
	padding-left:20px
}
ul.categorymenu>li ul>li {
	display:inline-block;
	float:left;
	width:48%;
	margin-right:3%;
	border-bottom:1px solid #ddd
}
ul.categorymenu>li ul>li:nth-child(even) {
margin-right:0!important
}
ul.categorymenu>li>div>ul.arrow li a {
	display:block
}
ul.categorymenu>li ul>li>a {
	text-decoration:none;
	display:block;
	white-space:nowrap;
	padding:8px 0 8px 5px
}
ul.categorymenu>li>div>ul li:hover a {
	background-color:#01a1dd;
	color:#fff;
	text-shadow:none
}
ul.categorymenu>li>div>ul>li>a {
	color:#666;
	display:block;
	font-size:14px;
}
ul.categorymenu>li ul>li img {
	margin:3px;
	max-width:none
}

.sub-drop-menu {
	min-width:130px!important
}
.sub-drop-menu li {
	width:100%!important;
	margin-right:0!important
}
#category:after, #featured:after, #latest:after, #newslettersignup .container:after, #popularbrands:after, #related:after {
	visibility:hidden;
	display:block;
	content:"";
	clear:both;
	height:0
}
#featured .thumbnails li {
	margin-right:-10px
}
#category .thumbnails li .thumbnail, #featured .thumbnails li .thumbnail, #latest .thumbnails li .thumbnail, #related .thumbnails li .thumbnail, .thumbnails.list li .thumbnail {
	border:1px solid #DAD8D8;
	overflow:hidden
}

.productdesc {
	margin-bottom:50px;
	font-size:14px;
	color:#636466
}
.productdesc .nav-tabs>li>a {
	border:1px solid transparent;
	border-radius:0;
	line-height:20px;
	padding-bottom:15px!important;
	padding-top:12px!important;
	background-color:#eee;
	margin-right:5px;
	text-shadow:0;
	font-family:robotolight, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:400;
	color:#555
}
.productdesc .nav-tabs>li>.selected, .productdesc .nav-tabs>li>a:hover {
	color:#01a1dd;
	background-color:#fff;
	border:1px solid #ddd;
	border-bottom-color:transparent
}

@media (max-width:1200px) {

#topnav ul li a {
margin:0
}

}

@media (min-width:980px) and (max-width:1169px) {
.tabs-style-linetriangle nav a span {
font-size:.9em!important
}

}

@media (max-width:979px) {

nav.subnav {
display:none!important
}
#categorymenu select {
-webkit-appearance:none;
border-radius:0;
display:block;
padding:3px;
color:#fff;
border:none;
float:right;
margin-left:10px;
position:absolute;
right:10px;
top:10px;
width:50px;
text-align:center;

text-indent:-28999px
}
#categorymenu select option {
padding:7px;
background-color:#fff;
border-bottom:solid 1px #ddd;
color:#555;
text-align:left
}
#categorymenu {
background:0 0
}
.container {
padding:0
}
nav.subnav {
width:auto;
float:none
}
nav.subnav select {
display:inline-block;
height:auto;
width:100%;
float:none
}
nav.subnav {
background:0 0;
border:none
}
nav.subnav ul {
display:none
}
#topnav {
width:100%
}

#topnav ul {
padding:6px 0 0
}

@media (max-width:760px) {
#topnav {
width:auto;
text-align:center
}
#topnav ul {
text-align:center;
margin:0 auto;
float:none
}
#topnav ul li {
display:inline-block;
float:none
}

}



@media only screen and (min-width:480px) and (max-width:767px) {


#topnav ul li a {
font-size:11px;
margin-right:5px
}
.headerstrip #topnav, .topheaderstrip #topnav {
margin-bottom:0
}

}
@media(max-width:767px) {

.tabs nav ul {
background:0 0;
border:none
}
.tabs nav ul li {
background-color:#f5f5f5;
border-bottom:1px solid #ddd;
display:block;
width:100%;
flex:none!important
}
.tabs-style-linetriangle nav li.tab-current a:after, .tabs-style-linetriangle nav li.tab-current a:before {
display:none
}
.tabs nav ul li:last-child {
border-bottom:none
}












