/*#categorymenu{ display:none !important;}*/
.Top-Menu-Right {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	z-index: 99999999;
}
.nav-container {
	position: relative;
	z-index: 2;
	margin-bottom: 15px;
}
.sf-menu {
	background: #dc2839;
	background: rgba(2,93,148,1);
	background: -moz-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,93,148,1)), color-stop(100%, rgba(1,79,127,1)));
	background: -webkit-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: -o-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: -ms-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: linear-gradient(to bottom, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025d94', endColorstr='#014f7f', GradientType=0 );
	font-size: 13px;
	line-height: 17px;
	border-radius: 6px;
}
.sf-menu li {
	float: left;
	text-align: left;
	position: relative;
	z-index: 99;
}
.sf-menu > li {

}
.sf-menu > li.last {
	background: none;
}
.sf-menu li a {
	display: block;
	color: #383737;
	text-decoration: none;
	position: relative;
	padding: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	opacity: 1;
}
.sf-menu > li > a > span {
	display: block;
	font-size: 17px;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	white-space: nowrap;
	padding: 19px 20px 19px;
	font-weight: 700;
}
.sf-menu li ul a span {
	white-space: normal;
}
.sf-menu > li.parent > a > span {

}
.sf-menu > li.sfHover > a, .sf-menu> li > a:hover, .sf-menu > li.active > a {
}
.sf-menu > li.sfHover > a span, .sf-menu > li > a:hover span, .sf-menu > li.active > a span {
	color: #000;
	background: rgba(253,223,68,1);
	background: -moz-linear-gradient(top, rgba(253,223,68,1) 0%, rgba(253,217,34,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,223,68,1)), color-stop(100%, rgba(253,217,34,1)));
	background: -webkit-linear-gradient(top, rgba(253,223,68,1) 0%, rgba(253,217,34,1) 100%);
	background: -o-linear-gradient(top, rgba(253,223,68,1) 0%, rgba(253,217,34,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,223,68,1) 0%, rgba(253,217,34,1) 100%);
	background: linear-gradient(to bottom, rgba(253,223,68,1) 0%, rgba(253,217,34,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fddf44', endColorstr='#fdd922', GradientType=0 );
}
.sf-menu > li.first.sfHover > a span, .sf-menu > li.first > a:hover span, .sf-menu > li.first.active > a span {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.sf-menu li a:hover {
	text-decoration: none;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	z-index: 99;
	width: 240px;
	display: none;
	background: rgba(253,217,34,1);
	background: -moz-linear-gradient(top, rgba(253,217,34,1) 0%, rgba(253,223,68,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,217,34,1)), color-stop(100%, rgba(253,223,68,1)));
	background: -webkit-linear-gradient(top, rgba(253,217,34,1) 0%, rgba(253,223,68,1) 100%);
	background: -o-linear-gradient(top, rgba(253,217,34,1) 0%, rgba(253,223,68,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,217,34,1) 0%, rgba(253,223,68,1) 100%);
	background: linear-gradient(to bottom, rgba(253,217,34,1) 0%, rgba(253,223,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd922', endColorstr='#fddf44', GradientType=0 );
}
.sf-menu li li {
	border-bottom: 1px solid #e5bb00;
}
.sf-menu li li.parent {

}
.sf-menu li li.last {
	border-bottom: none;
}
.sf-menu li li.sfHover, .sf-menu li li, .sf-menu li li:hover {
	float: none;
	border-right: none;
	position: relative;
}
.sf-menu li li a, .sf-menu li.sfHover li a, .sf-menu li.active li a {
	display: block;
	background: none;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	padding: 8px 15px;
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.active > a {
	color: #fff;
	background: rgba(2,93,148,1);
	background: -moz-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,93,148,1)), color-stop(100%, rgba(1,79,127,1)));
	background: -webkit-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: -o-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: -ms-linear-gradient(top, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
	background: linear-gradient(to bottom, rgba(2,93,148,1) 0%, rgba(1,79,127,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025d94', endColorstr='#014f7f', GradientType=0 );
}
.sf-menu ul ul {
	position: absolute;
	top: -999em;
	z-index: 99;
	width: 192px;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0px;
	top: 59px;/* match top ul list item height */
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 193px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 193px; /* match ul width */
	top: 0;
}
 @media only screen and (min-width: 980px) and (max-width: 1199px) {
.sf-menu > li > a > span {
	font-size: 13px;
	padding: 18px 12px;
}
}
@media only screen and (min-width: 979px) {
#menu-icon, .sf-menu-phone{
	display: none !important;
}
}
 @media only screen and (max-width: 979px) {
.nav-container {
	margin-bottom: 15px;
}
.sf-menu, .sf-menu-phone {
	display: none;
}
/* menu icon */

#menu-icon {
	display: inline-block;
	/*background:url(../image/top-menu.png) center center no-repeat #ffd200;*/
	background: #01a1dd 
;
	font-size: 20px;
	color: #000;
	cursor: pointer;
	padding: 8px 0px 6px 0px;
	margin: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	width:100%;
	text-align:right;
	
}
#menu-icon img {
	margin-right:15px;
}
.sf-menu-phone {
	background: #01a1dd 
;
	position: relative;
	padding: 13px 20px 20px;
	z-index: 2;
	margin: 0px;
	margin-top: 44px !important;
}
.sf-menu-phone li {
	padding: 10px 0;
	position: relative;
	font-size: 18px;
	text-align: left;
	font-family: "robotoregular", Arial, Helvetica, sans-serif !important;
}
.sf-menu-phone > li {
	border-bottom: 1px solid #34b4e4;
}
/*.sf-menu-phone > li.last {
	border: 0;
	padding-bottom: 0;
}*/
.sf-menu-phone li a {
	display: inline-block;
	color: #fff;
}
.sf-menu-phone li a:hover {
	color: #222 !important;
	/*opacity: 0.7;
    filter: alpha(opacity=70);*/
}
.sf-menu-phone li li {
	font-size: 14px;
	padding: 5px 15px;
}
.sf-menu-phone li li.last {
	padding-bottom: 0 !important;
}
.sf-menu-phone li strong {
	position: absolute;
	display: block;
	background: url(../images/toogle-button2.png) center -54px no-repeat;
	top: 4px;
	right: 0;
	height: 24px;
	width: 24px;
}
.sf-menu-phone li strong.opened {
	background: url(../images/toogle-button2.png) center 7px no-repeat !important;
}

.sf-menu-phone li strong:hover {
	cursor: pointer;
}

.sf-menu-phone > li > strong {
	top: 6px;
}
/* dropdown */

.sf-menu-phone ul {
	width: auto;
	padding: 10px 0 5px;
	display: none;
	margin-left: 0;
}
.sf-menu-phone > li.active > a > span {
	color: inherit;
}
.sf-menu-phone > li.active > a, .sf-menu-phone > li > a:hover {
	color: #fff;
}
.sf-menu-phone li li.active > a, .sf-menu-phone li li a:hover {
	color: #fff;
}
}
 @media only screen and (min-width: 768px) and (max-width: 979px) {
#menu-icon, .sf-menu-phone {
	margin: 0;
}
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
#menu-icon {
	background-position: 96% 15px;
}
#menu-icon.active {
	background-position: 96% -43px;
}
}
.sf-menu-phone > li.level-highlight {
	margin-top: 10px;
	border: 0;
	padding: 0;
}
.sf-menu-phone > li.level-highlight a {
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: none;
	font-weight: 700;
	padding: 10px;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffd713; /* Old browsers */
	background: -moz-linear-gradient(top, #eed506 0%, #ffc401 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eed506), color-stop(100%, #ffc401)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eed506 0%, #ffc401 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eed506 0%, #ffc401 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eed506 0%, #ffc401 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eed506 0%, #ffc401 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eed506', endColorstr='#ffc401', GradientType=0 ); /* IE6-9 */
}
.sf-menu-phone > li.level-highlight-blue {
	margin-top: 10px;
	border: 0;
	padding: 0;
}
.sf-menu-phone > li.level-highlight-blue a {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: none;
	font-weight: normal;
	padding: 10px;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #004e6b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNGU2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQ3NjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #004e6b 0%, #004761 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004e6b), color-stop(100%, #004761)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #004e6b 0%, #004761 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #004e6b 0%, #004761 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #004e6b 0%, #004761 100%); /* IE10+ */
	background: linear-gradient(to bottom, #004e6b 0%, #004761 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e6b', endColorstr='#004761', GradientType=0 ); /* IE6-8 */
}
.sf-menu-phone > li.level-highlight-red {
	margin-top: 10px;
	border: 0;
	padding: 0;
}
.sf-menu-phone > li.level-highlight-red a {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: none;
	font-weight: normal;
	padding: 10px;
	display: block;
	background: #f13340;
}
.sf-menu-phone > li.level-highlight-green {
	margin-top: 10px;
	border: 0;
	padding: 0;
}
.sf-menu-phone > li.level-highlight-green a {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: none;
	font-weight: normal;
	padding: 10px;
	display: block;
	background: #3e9a2f;
}
